body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    background-image: radial-gradient(circle, #7d7b7b 3%, transparent 5%);
    background-size: 5% 10%;
}
h1 {
    font-size: 4rem;
    text-align: center;
    color: white;
}